out
node_modules
.vscode-test/
*.vsix
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscodeignore
*.code-workspace

# Local History for Visual Studio Code
.history/
sample/